<!DOCTYPE html>
<html ng-app>
<head lang ="pt-br">
	<meta charset="UTF-8">
	<title>Meu primeiro APP-Felipe Astor Martins da Costa Nova</title>

	<script src ="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
	

	
	</head>
<body>
<div>
	<label>Name:</label>
	<input type="text" ng-model="seunome" placeholder="Escreva seu nome aqui">
	<hr>
	<h1> Oi{{seunome}} </h1>
</div>

	<div>
	<label>Sobrenome:</label>
	<input type="text" ng-model="sobrenome" placeholder="Escreva seu endereço">
	<hr>
	<h1> {{sobrenome}} </h1>
	</div>
	
	<div>
	<label>Logradouro:</label>
	<input type="text" ng-model="logradouro" placeholder="Escreva seu logradouro">
	<hr>
	<h1> {{logradouro}} </h1>
	</div>

<div>
	<label>Numero:</label>
	<input type="text" ng-model="numero" placeholder="Escreva seu numero">
	<hr>
	<h1> {{numero}} </h1>
	</div>
	
	<div>
	<label>Bairro:</label>
	<input type="text" ng-model="bairro" placeholder="Escreva seu bairro">
	<hr>
	<h1> {{bairro}} </h1>
	</div>
	
<div>
	<label>CEP:</label>
	<input type="text" ng-model="CEP" placeholder="Escreva seu CEP">
	<hr>
	<h1> {{CEP}} </h1>
	</div>


	
	
	
</body>
</html>