<!doctype html>
<html ng-app>
<head lang="pt-br">
	<meta charset="utf-8"> 
	<link rel="stylesheet" href="css/bootstrap.css"/>
	<script  src="js/angular/angular.min.js"></script>
	<script  src="js/jquery-1.11.3.min.js"></script>
	<script  src="js/bootstrap.min.js"></script>
	
	
	
</head>
<body>
<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<h1 style="color:white;">Sistema em Angular</h1>
	</div>
</nav>
<div ng-controller="CtrlLista">
	<div class="form-group">
		<div class="container">
			<div>
				<label title="busca">BUSCA: </label>
				<input aria-label="busca" type="search" class="form-control input-sm" ng-model="busca"/>
			</div>
			
			<div>
				<label title="nome">NOME: </label>
				<input aria-label="nome" type="text" class="form-control input-sm" ng-model="vNome"/>
			</div>
			
			<div>
				<label title="cidade">CIDADE: </label>
				<input aria-label="cidade" type="text" class="form-control input-sm" ng-model="vCidade"/>
			</div>
			<p></p>
			<div>
				<button type="submit" class="btn btn-success" ng-click="adicionar()" >Adicionar</button>

				<button type="submit" class="btn btn-info" ng-click="excluir()" > Excluir</button>
			</div>
			
							
			<br/>
			
				<table class="table table-striped" >
					<thead>
							<th>NOME</th>
							<th>CIDADE</th>
							<th></th>
							
					</thead>
					<tbody ng-repeat="pessoa in pessoas | filter:busca">
						
						<td>{{pessoa.nome}}</td>
						<td>{{pessoa.cidade}}</td>
						<td></td>
						
					</tbody>
				</table>

			</div>
		</div>
	</div>
<script>
	var CtrlLista = function($scope){
		$scope.pessoas = [
			{nome: "Felipe", cidade:"Rio Branco"},
			{nome: "Jose",cidade:"Sao Paulo"},
			{nome: "Maria",cidade:"Humaita"},
			{nome: "Maria Jose",cidade:"Sergipe"}
		];
		
		$scope.adicionar = function(){
			$scope.pessoas.push({
			nome: $scope.vNome,
			cidade: $scope.vCidade
			});
			$scope.vNome = "";
			$scope.vCidade = "";
		};
		$scope.excluir = function(){
			$scope.pessoas.pop({
				nome: $scope.vNome,
				cidade: $scope.vCidade
			});
		};
	}
</script>
</body>
</html>

